img.avatar-img {
  border-radius: 50%;
  border: 0.2em solid var(--color-bg-surface);
}

h1 {
  margin-top: 0;

  > a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 0.8em;
    font-weight: 600;
  }
}

ul.media-header-grid {
  width: 100vw;
  max-width: 100vw;
  height: 18em;
  padding: 0;
  margin-top: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  gap: 0.1em 0.1em;
  grid-template-areas:
    ". . . . . . . ."
    ". . . . . . . .";

  > li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    > a {
      width: 100%;
      height: 100%;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  > li:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
  }

  > li:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
  }

  > li:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
  }

  > li:nth-child(4) {
    grid-column: span 2;
    grid-row: span 1;
  }

  > li:nth-child(5) {
    grid-column: span 1;
    grid-row: span 1;
  }

  > li:nth-child(6) {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.profile-page {
  margin-top: -3em;
  padding-inline: 1.2em;
  background-color: var(--color-bg-surface);
}

ul.clubs-list {
  padding: 0;
  margin: 0;

  > li {
    list-style: none;

    > a {
      > figure {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.1em;

        > img {
          width: 6em;
          height: 6em;
          object-fit: cover;
        }

        > figcaption {
          font-size: 0.8em;
        }
      }
    }
  }
}

.insight-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 900px) {
  .insight-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 980px) {
  ul.media-header-grid {
    display: flex;
    height: auto;
    min-height: 0;
    gap: 0.35em;
    padding: 0.35em;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
  }

  ul.media-header-grid > li {
    flex: 0 0 78%;
    min-height: 9.5em;
  }

  ul.media-header-grid > li > a > img {
    border-radius: 6px;
  }

  ul.media-header-grid > li:nth-child(1),
  ul.media-header-grid > li:nth-child(2),
  ul.media-header-grid > li:nth-child(3),
  ul.media-header-grid > li:nth-child(4),
  ul.media-header-grid > li:nth-child(5),
  ul.media-header-grid > li:nth-child(6) {
    grid-column: auto;
    grid-row: auto;
  }

  .profile-page {
    margin-top: 0;
    padding-inline: 0.7em;
  }

  ul.clubs-list > li > a > figure > img {
    width: 4.5em;
    height: 4.5em;
  }
}
